{% extends 'main.html' %}
{% load static %}
{% block main %}

<div class="page-contain about-us">

    <!-- Main content -->
    <div id="main-content" class="main-content">

        <div class="welcome-us-block">
            <div class="container">
                <h4 class="title">Welcome to saheronline store!</h4>
                <div class="text-wraper">
                    <p class="text-info">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,</p>
                    <p class="qt-text">“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.”</p>
                </div>
            </div>
        </div>

        <div class="why-choose-us-block">
            <div class="container">
                <h4 class="box-title">Why Choose us</h4>
                <b class="subtitle">Natural food is taken from the world's most modern farms with strict safety cycles</b>
                <div class="showcase">
                    <div class="sc-child sc-left-position">
                        <ul class="sc-list">
                            <li>
                                <div class="sc-element color-01">
                                    <span class="biolife-icon icon-fresh-drink"></span>
                                    <div class="txt-content">
                                        <span class="number">01</span>
                                        <b class="title">Always Fresh</b>
                                        <p class="desc">Natural products are kept in the best condition to ensure always fresh</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sc-element color-02">
                                    <span class="biolife-icon icon-healthy-about"></span>
                                    <div class="txt-content">
                                        <span class="number">02</span>
                                        <b class="title">Overall Healthy</b>
                                        <p class="desc">Natural products are kept in the best condition to ensure always fresh</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sc-element color-03">
                                    <span class="biolife-icon icon-green-safety"></span>
                                    <div class="txt-content">
                                        <span class="number">03</span>
                                        <b class="title">Encironmental Safety</b>
                                        <p class="desc">Natural products are kept in the best condition to ensure always fresh</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sc-child sc-center-position">
                        <figure><img src="{% static 'assets/images/about-us/bn04.jpg' %}" alt="" width="622" height="656"></figure>
                    </div>
                    <div class="sc-child sc-right-position">
                        <ul class="sc-list">
                            <li>
                                <div class="sc-element color-04">
                                    <span class="biolife-icon icon-capacity-about"></span>
                                    <div class="txt-content">
                                        <span class="number">04</span>
                                        <b class="title">Antioxidant Capacity</b>
                                        <p class="desc">Natural products are kept in the best condition to ensure always fresh</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sc-element color-05">
                                    <span class="biolife-icon icon-arteries-about"></span>
                                    <div class="txt-content">
                                        <span class="number">05</span>
                                        <b class="title">Good For Arteries</b>
                                        <p class="desc">Natural products are kept in the best condition to ensure always fresh</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sc-element color-06">
                                    <span class="biolife-icon icon-title"></span>
                                    <div class="txt-content">
                                        <span class="number">06</span>
                                        <b class="title">Quality Standards</b>
                                        <p class="desc">Natural products are kept in the best condition to ensure always fresh</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock main %}
