{% extends 'adminpanel/main.html' %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Feedbacks</h1>
        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>E-mail</th>
                            <th>Phone number</th>
                            <th>Date time</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Customer</th>
                            <th>E-mail</th>
                            <th>Phone number</th>
                            <th>Date time</th>
                            <th>Message</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td>{{feedback.name}}</td>
                            <td>{{feedback.email}}</td>
                            <td>{{feedback.phone}}</td>
                            <td>{{feedback.updated_at|date:"d.m.Y H:i:s"}}</td>
                            <td>{{feedback.message}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock main %}