{% extends 'adminpanel/main.html' %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Users</h1>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-primary" href="{% url 'admin.user.add' %}" role="button"> <i class="fa fa-plus" aria-hidden="true"></i> Add new User</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.is_superuser}}</td>
                            <td>
                               {{user.email}}
                            </td>
                            <td>
                                <a href="{% url 'admin.user.delete' user.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock main %}